<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtensionBlocks" version="1.1.0" targetFramework="net462" />
  <package id="GuidMapping" version="1.0.0.1" targetFramework="net462" />
  <package id="NLog" version="4.7.5" targetFramework="net462" />
  <package id="Registry" version="1.1.1.1" targetFramework="net462" />
  <package id="RegistryPluginBase" version="1.1.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net462" />
</packages>