<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtensionBlocks" version="1.1.0" targetFramework="net462" />
  <package id="GuidMapping" version="1.0.0" targetFramework="net462" />
  <package id="NLog" version="4.6.8" targetFramework="net462" />
  <package id="Registry" version="1.1.0.5" targetFramework="net462" />
  <package id="RegistryPluginBase" version="1.1.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net462" />
</packages>